/* Login page CSS. */

.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background: #FFFFFF;
}

.center h1
{
    font-size: 2em;
    padding: 20px 0 20px 0;
    text-align: center;
    border-bottom: 1px solid #C0C0C0;
}

form
{
    box-sizing: border-box;
    padding: 0 40px;
}

form .text-field
{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #ADADAD;
}

.text-field input
{
    font-size: 16px;
    width: 100%;
    height: 40px;
    padding: 0 5px;
    border: none;
    outline: none;
    background: none;
}

.text-field label
{
    position: absolute;
    top: 50%;
    left: 5px;
    transition: .5s;
    transform: translateY(-50%);
    pointer-events: none;
    color: #ADADAD;
}

.text-field input:focus ~ label,
.text-field input:valid ~ label
{
    top: -5px;
    color: var(--highlight-color);
}

.text-field span::before
{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background: var(--highlight-color);
}

.text_field input:focus ~ span::before,
.text_field input:valid ~ span::before
{
    width: 100%;
}

.password
{
    margin: -5px 0 20px 5px;
    cursor: pointer;
    color: #a6a6a6;
}

.password:hover
{
    text-decoration: underline;
}

input[type='submit']
{
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    height: 50px;
    cursor: pointer;
    color: #E9F4FB;
    border: 1px solid;
    border-radius: 25px;
    outline: none;
    background: var(--highlight-color);
}

input[type='submit']:hover
{
    transition: .5s;
    border-color: var(--highlight-color);
}

.links
{
    font-size: 16px;
    margin: 30px 0;
    text-align: center;
    color: #666666;
}

.links a
{
    text-decoration: none;
    color: var(--highlight-color);
}

.links a:hover
{
    text-decoration: underline;
}

.toggle-mode
{
    font-size: 32px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 75px;
    height: 75px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background: #FFFFFF;
}

.toggle-mode a
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    border-radius: 10px;
}

.light
{
    --highlight-color: #2691D9;
}

.dark
{
    --highlight-color: #EE00BB;
}
