<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block styles %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</head>

<body>
<section>
    {% block content %}
    {% endblock %}
</section>

<script src="{{ url_for('static', filename='scripts/toggleTheme.js') }}"></script>
</body>
</html>
