{% extends "account/base.html" %}

{% block title %}Login{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
{% endblock %}

{% block content %}
    <div class="center">
        <h1>Login</h1>

        <form method="post">
            <div class="text-field">
                <input type="text" name="email_address" required>
                <label>Email Address</label>
            </div>

            <div class="text-field">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>

            <input type="submit" value="Login">

            <div class="links">
                <a href="/">Go Back</a>
                <br>
                {{ login_message }}
            </div>
        </form>
    </div>

    <div class="toggle-mode">
        <a href=""><span class="icon-clickable" id="icon-theme"><i class="fa fa-moon" aria-hidden="true"></i></span></a>
    </div>
{% endblock %}
