.circle::before
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--tertiary-circle-color);
    clip-path: circle(20% at 40% 65%);
}

.search
{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.medicine-list::before
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--tertiary-circle-color);
    clip-path: circle(20% at 70% 10%);
}

#search-bar
{
    font-size: 1.5em;
    width: 600px;
    height: 50px;
    text-align: center;
    color: var(--text-color);
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(15px);
}

#search-bar:focus
{
    width: 625px;
    height: 60px;
    transition: .5s ease-in-out;
    outline: none;
}

.valid-medicines
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.valid-medicines nav ul
{
    height: 300px;
    width: 600px;
}

.valid-medicines ul
{
    overflow: hidden;
    overflow-y: scroll;
}

.valid-medicines li
{
    line-height: 60px;
    position: relative;
    width: 400px;
    padding: 0 10px;
    color: var(--text-color);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(15px);
}

.valid-medicines li:not(:first-of-type)
{
    margin-top: 1.5em;
}

.valid-medicines li:not(:last-of-type)
{
    margin-bottom: 1.5em;
}

.light
{
    --tertiary-circle-color: linear-gradient(rgb(241, 149, 112), rgb(227, 97, 133));
    --text-color: #1a1a1a;
}

.dark
{
    --tertiary-circle-color: linear-gradient(rgb(253, 127, 169), rgb(64, 30, 83));
    --text-color: #EDEDED;
}
