/* Warehouse page CSS. */

body
{
    overflow: scroll;
}

.warehouse-data
{
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 5px 30px 30px;
}

.data-table h1
{
    font-size: 3.5em;
    position: relative;
    padding-top: 50px;
    left: 10px;
    color: var(--heading-color);
}

.data-table:first-child h1
{
    padding-top: 0;
}

.data-table a
{
    font-weight: 500;
    position: relative;
    left: 50%;
    display: inline-block;
    margin-top: 30px;
    padding: 8px 20px;
    transform: translateX(-50%);
    text-decoration: none;
    color: var(--href-color);
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

table
{
    position: relative;
    justify-content: center;
    max-width: 90vw;
    margin: 10px auto;
    padding: 10px;
    color: var(--text-color);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(15px);
}

table th, td
{
    padding: 15px 10px;
}

table .dates
{
    white-space: nowrap;
}

.light
{
    --heading-color: #000000;
    --text-color: #000000;
    --href-color: #595758;
}

.dark
{
    --heading-color: #EDEDED;
    --text-color: #EDEDED;
    --href-color: #161623;
}
