/* Base stylesheet for all homepages. */

/* Poppins Font */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root
{
    --background-color: linear-gradient(120deg, #FFC8FB, #FFE4F3);
    --circle-before-color: linear-gradient(#FF1053, #FF92C2);
    --circle-after-color: linear-gradient(#6C6EA0, #66C7F4);
}

*
{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    overflow: hidden;
    height: 100vh;
}

section
{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: var(--background-color);
}

section::before
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--circle-before-color);
    clip-path: circle(30% at right 70%);
}

section::after
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--circle-after-color);
    clip-path: circle(20% at 10% 10%);
}

.light
{
    --background-color: linear-gradient(120deg, #FFC8FB, #FFE4F3);
    --circle-before-color: linear-gradient(#FF1053, #FF92C2);
    --circle-after-color: linear-gradient(#6C6EA0, #66C7F4);
}

.dark
{
    --background-color: linear-gradient(120deg, #160A2B, #161623);
    --circle-before-color: linear-gradient(#FF0000, #FF00FF);
    --circle-after-color: linear-gradient(#2196F3, #E91E63);
}
