{% extends "homepage/base.html" %}

{% block title %}Home | Acknowledgements{% endblock %}

{% block content %}
    <div class="content">
        <div class="text-box">
            <h2>Acknowledgements</h2>
            <p>
                This project would not have been possible without the guidance of my Computer Science teacher Ms.
                Sumeeti Bhatia. I would also like to thank our vice-principal Ms. Sudhanshu Daddu.
            </p>

            <a href="/project">View Project</a>
        </div>
    </div>
{% endblock %}
