<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage/base.css') }}">
    {% block styles %}
    {% endblock %}
</head>

<body>
<section>
    <header>
        <a href="#"><img src="../../static/images/medicine.png" class="logo" alt=""></a>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/project">Main Project</a></li>
            <li><a href="/details">Details</a></li>
            <li><a href="/docs">Documentation</a></li>
            <li><a href="/acknowledgements">Acknowledgements</a></li>
        </ul>
    </header>

    {% block content %}
    {% endblock %}
</section>

{% block scripts %}
{% endblock %}
</body>
</html>
