{% extends "homepage/base.html" %}

{% block title %}Home | Details{% endblock %}

{% block content %}
    <div class="content">
        <div class="text-box">
            <h2>Project<br><span>Details</span></h2>
            <p>
                The objective with this project was to create a one-stop solution for a local pharmacy to be able to
                manage and maintain their database of employee and product data without having to create one themselves
                and without the requirement of a fully-fledged technical team.
            </p>

            <br>

            <p>
                &emsp; &emsp; &emsp; &emsp;
                The project uses robust technologies like MySQL and Python for the back-end and Flask for communication
                between the front and back-end allowing for the project to be reasonably scaled up to meet all the
                requirements a local pharmacy could possibly want.
            </p>

            <a href="/project">View Project</a>
        </div>
    </div>
{% endblock %}
